/* Estilos para el accordion */
.custom-accordion {
  border: 1px solid #eaeaea;
  border-radius: 20px;
  overflow: hidden;
  margin-bottom: 15px;
}

/* Estilos para el encabezado del accordion */
.accordion-header {
  background-color: #f9f9f9;
  padding: 12px 20px;
  font-weight: bold;
  cursor: pointer;
}

/* Estilos para el contenido del accordion */
.accordion-content {
  padding: 15px 20px;
}

/* Estilos para cada ítem del accordion */
.accordion-item {
  border-bottom: 1px solid #eaeaea;
  padding: 10px 0;
}

/* Estilos para las etiquetas dentro de los ítems del accordion */
.accordion-item-label {
  font-size: 16px;
  line-height: 1.6;
  color: #333;
}

/* Estilos para los párrafos dentro de los ítems del accordion */
.accordion-item-label p {
  margin: 5px 0;
  font-size: 14px;
  color: #555;
}